{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />

    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">

    {% if title %}
        <title>{{ title }} | Sure Shop</title>
    {% else %}
        <title>Sure Shop</title>
    {% endif %}
</head>

<body>
    {% include "core/navbar.html" %}

    <div class="" style="">
        <div class="float-right mt-3 mr-3">
            {% if messages %}
                {% for message in messages %}
                    <div class="px-4 alert alert-{{ message.tags }}">
                        <strong>
                            {{ message }}
                        </strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    {% block extra_body %}
    {% endblock extra_body %}

    {% include "core/footer.html" %}
    {% include "core/scripts.html" %}
</body>

</html>
