{% extends "core/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main>
    <div class="container mt-5">
        <div class="content-section">
            <legend class="border-bottom mb-4">{% trans "Password changed" %}</legend>
            <p>{% trans 'Your password has been changed.' %}
                You can now <a class="anchor" href="{% url 'account_login' %}">Log In</a> with your new password.
            </p>
        </div>
    </div>    
</main>
{% endblock %}
