html,
body,
.view {
    height: 100%;
}

@media (max-width: 776px){
    .carousel {
        height: 100%;
    }
}

.page-footer {
    background-color: #929FBA;
}

#lblCartCount {
    padding: 1px 4px;
    vertical-align: top;
    margin-left: -10px;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
